<!doctype html>
<html lang="es" xlmns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
   	    <link rel="stylesheet" type="text/css" media="all" href="../../Estilos/Global/estilosGlobal.css" th:href="@{/Estilos/Global/estilosGlobal.css}" />
  
    <!--TITULO EN LA PESTAÑA DE LA PÁGINA-->
    <title>Mi proyecto</title>
</head>

<body>
    <!--INICIAMOS EL HEADER-->
    <header class="cabecera">
        <!--BG-DARK PARA FONDO DEL MENU OSCURO, QUITAMOS EL NAVBAR LIGHT Y LE PONES EL TEXTO EN BLANCO CON TEXT-LIGHT-->
        <nav class="navbar navbar-expand-lg bg-dark text-light">
            <a class="navbar-brand" th:href="@{/}">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/propietarios}">Propietarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/coches}">Coches</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Mi primer proyecto en Spring
                </span>
            </div>
        </nav>
    </header>
    <h1 id="titulo" class="display-4 text-muted">Mi primer proyecto con Spring Boot</h1>
</body>

</html>