<!doctype html>
<html lang="es" xlmns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
   	<link rel="stylesheet" type="text/css" media="all" href="../../Estilos/Global/estilosGlobal.css" th:href="@{/Estilos/Global/estilosGlobal.css}" />

    <!--TITULO EN LA PESTAÑA DE LA PÁGINA-->
    <title>Mi proyecto</title>
</head>

<body>
    <!--INICIAMOS EL HEADER-->
    <header class="cabecera">
        <!--BG-DARK PARA FONDO DEL MENU OSCURO, QUITAMOS EL NAVBAR LIGHT Y LE PONES EL TEXTO EN BLANCO CON TEXT-LIGHT-->
        <nav class="navbar navbar-expand-lg bg-dark text-light">
            <a class="navbar-brand" th:href="@{/}">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/propietarios}">Propietarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/coches}">Coches</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Mi primer proyecto en Spring
                </span>
            </div>
        </nav>
    </header>
		
		<div id="formulario">
		<form action="#" th:action="@{/updatePropietario}"  th:object="${propietario}" method="post">
		
			<div class="form-group">
                <label for="nombre" class="mr-sm-2">Nombre:</label>
                <input type="text" class="form-control mb-2 mr-sm-2" th:field="*{nombre}" placeholder="Introduce su nombre" id="nombre">
            </div>    
                
			<div class="form-group">
                <label for="edad" class="mr-sm-2">Edad:</label>
                <input type="number" class="form-control mb-2 mr-sm-2" th:field="*{edad}" placeholder="Introduce su edad" id="edad">
            </div>
            
			<div class="form-group">
                <label for="email" class="mr-sm-2">Email:</label>
                <input type="email" class="form-control mb-2 mr-sm-2" th:field="*{email}" placeholder="Introduce su email" id="email">
            </div>   
                
            <div class="form-group">    
                <label for="sel1">Seleccione su coche:</label>
                    <select class="form-control" id="sel1" th:field="*{coche}">
                        <option th:each="cocheOpt : ${coches}" th:value="${cocheOpt.id}" th:text="${cocheOpt.marca}"></option>
                    </select>	
             </div>   
                	
			<div class="form-group">
                <label for="comment">Más info:</label>
                <textarea class="form-control" th:field="*{mensaje}" rows="5" id="comment" placeholder="Introduce un mensaje adicional"></textarea>
			</div>
			
			<div class="form-group">
		        <div class="custom-control custom-switch">   
				 	<input type="checkbox" class="custom-control-input" id="customSwitch1" th:field="*{carnet}">
				 	<label class="custom-control-label" for="customSwitch1">Carnet </label>	
				</div>
	        </div>
	             
	       	<div class="form-group">	
	        	<button type="submit" value="Submit" class="btn btn-secondary btn-sm">Enviar</button>
	        	<button type="reset" value="Reset" class="btn btn-secondary btn-sm">Borrar</button>
	        </div>
		</form>
		</div>
</body>
</html>