<!doctype html>
<html lang="es" xlmns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
   	<link rel="stylesheet" type="text/css" media="all" href="../../Estilos/Global/estilosGlobal.css" th:href="@{/Estilos/Global/estilosGlobal.css}" />

    <!--TITULO EN LA PESTAÑA DE LA PÁGINA-->
    <title>Mi proyecto</title>
</head>

<body>
    <!--INICIAMOS EL HEADER-->
    <header class="cabecera">
        <!--BG-DARK PARA FONDO DEL MENU OSCURO, QUITAMOS EL NAVBAR LIGHT Y LE PONES EL TEXTO EN BLANCO CON TEXT-LIGHT-->
        <nav class="navbar navbar-expand-lg bg-dark text-light">
            <a class="navbar-brand" th:href="@{/}">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/propietarios}">Propietarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/coches}">Coches</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Mi primer proyecto en Spring
                </span>
            </div>
        </nav>
    </header>
    
    <!-- DIV EN EL QUE VAMOS A PONER LOS DATOS DE LOS PROPIETARIOS -->
		<div th:switch="${#lists.isEmpty(propietarios)}">
	  
		<div id="listaVacia" th:case="true">
	  
	  		<p>Lista de propietarios vacía.</p>
	  
	  
		</div>
		
		<div id="listaRellena" th:case="false">
			  
		    <table id="tablaPropietarios" class="tabla" border="1">
		    
		      <tr>
		        <th>ID</th>
		        <th>Nombre</th>
		        <th>Edad</th>
		        <th>Email</th>
		        <th>Coche</th>
		        <th>Carnet</th>
		        <th>Mensaje</th>
		        <th></th>
		        <th></th>
		      </tr>
		      
		      <tr th:each="propietario : ${propietarios}">
		        <td th:text="${propietario.id}+' ['+${propietarioStat.count}+']'">ID</td>
		        <td th:text="${propietario.nombre}">Nombre</td>
		        <td th:text="${propietario.edad}">Edad</td>
		        <td th:text="${propietario.email}">Email</td>
		        <!-- <td th:each="coche : ${coches}" th:if="${propietario.coche} == ${coche.id}" th:text="${coche.marca}">coche</td> -->
		        <!-- NO ME SALE LO DE MOSTRAR EL NOMBRE DEL COCHE EN VEZ DEL ID -->
		        <td th:text="${propietario.coche}">Id coche</td>
		        
		        
		        <td th:if="${propietario.carnet}" th:text="'Con carnet'">Con carnet</td>
		        <td th:unless="${propietario.carnet}" th:text="'Sin carnet'">Sin carnet</td>
		      
		        <td th:text="${propietario.mensaje}">Mensaje</td>
		        
		        <td><a href="#" th:href="@{/eliminarPropietario/{id}(id=${propietario.id})}">Eliminar</a></td>
		        <td><a href="#" th:href="@{/editarPropietario/{id}(id=${propietario.id})}">Editar</a></td>
		      </tr>	
		    </table>
		</div>
		</div>
		
		<form action="#" th:action="@{/addPropietario}"  th:object="${propietario}" method="post">
    	
	    	<p>Nombre: <input type="text" th:field="*{nombre}" placeholder="Inserte su nombre"/></p>
	        <p>Edad: <input type="number" th:field="*{edad}"  placeholder="Inserte su edad"/></p>
	        <p>Email: <input type="email" th:field="*{email}" placeholder="Inserte su email"/></p>
	        
	       <p>
        	<select th:field="*{coche}">
        		<option th:each="cocheOpt : ${coches}" th:value="${cocheOpt.id}" th:text="${cocheOpt.marca}"></option>
        	</select>
	        </p>
	      
	      	<p>
		        <textarea th:field="*{mensaje}" rows="6" cols="20" placeholder="Inserte un mensaje adicional">
					Mensaje de texto.
				</textarea>
	        </p>          
	 
	         <p>
		        Carnet: <input type="checkbox" th:field="*{carnet}">
	        </p>      
	       
	        <p>	
	        	<input type="submit" value="Submit" /> 
	        	<input type="reset" value="Reset" />
	        </p>
		</form>
    
</body>
</html>